/* *{
    margin: 0%;
    padding: 0%;
} */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 25px;
    padding-left: 10px;
}
.cv{
    text-align: center;
    text-decoration-line: underline
}
.underline{
    text-decoration-style: solid;
    text-decoration: underline;
    
}